/*ESTRUCTURA*/
.contenedor {
  display: flex;
  width: 1200px;
}
/*GENERAL*/
ul {
  list-style-type: none;
}
h1,
h2{
  text-transform: uppercase;
}
/*ASIDE*/
aside {
  background-color: #647087;
  flex-basis: 25%;
  margin-right: 3%;
}
aside*{
  color: white;
}
aside h2{
  letter-spacing: 5px;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}
#profile-pic img{
  border-radius: 50%;
  widht: 100px;
}
/*MAIN*/
.hero{
  background-color: #F7DDC3;
  padding: 10% 0;
  text-align: center;
  justify-content: space-between;

}
.hero h2{
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  text-spacing: normal;
}
/*dt {
  clear: left;
  flex-basis: 30%;
  float: left;
  font-weight: bolder;
}
dd {
  clear: right;
  flex-basis: 50%;
  float: left;
  margin: 0;
}*/
dl {
    display: flex;
    flex-wrap: wrap;
  }
dt,
dd{
  line-height: 1.5em;
  border-top: 1px solid white;
  flex-basis: 40%;
  margin 0;
}
dd: last-of-type,
dt: last-of-type{
  border-bottom: 1px solid white;
}
dt {
  font-weight: bolder;
}
meter {
  display: block;
  widht: 80%;
}
/*
*{
color: blue
}
p{
  color:red
}
.bonito{
  background-color: lightblue
}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
*/


@media (max-widht:400){
.main-container{
  widht: 400px;
  flex-wrap: wrap;
  font-size: 1.2em;
}
  aside,
  main{
    flex:100%;
  }
}
